@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1: Arial, Helvetica, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: whitesmoke;
    text-align: center;
}
header > h1{
    padding: 50px;
    padding-bottom: 10px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
}
header > p {
    padding-bottom: 100px;
}
header a, footer a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    text-align: center;
    font-family: var(--font3);
    font-size: 3vw;
}
section.normal{
    background-color: rgb(231, 217, 198);
    box-shadow: inset 0px 0px 20px 9px #00000069;
}
section.imagem{
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.295);
    font-size: 3vw;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    box-shadow: inset 0px 7px 15px 0px rgba(0, 0, 0, 0.534);
}
section.imagem > p {
    display: inline-block;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 10px;
}
section#img1{
    background-image: url(../Downloads/pacote-projeto-cordel/img1.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    
}
section#img2{
    background-image: url(../Downloads/pacote-projeto-cordel/img2.jpg);
    background-position: right bottom;
    background-size: cover;
    background-attachment: fixed;
}
section.botao{
    background-color: black;
}
footer{
    background-color: black;
    color: antiquewhite;
    text-align: center;
    padding: 10px;
}