@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3;
}

body {
    background-color: antiquewhite;
    text-align: justify;
}

header {
    background-color: burlywood;
    text-align: center;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.301);
}

header > h1 {
    color:  rgb(104, 0, 0);
    padding: 15px;
    font-size: 3em;
    font-weight: 800;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.438);;
}

menu lu {
    list-style-type: none;
    
}

menu li {
    display: inline-block;
    font-weight: 700;
    padding: 10px;
    margin: 20px 13px;
    background-color: rgb(148, 122, 89);
    color: rgb(209, 216, 223);
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.438);
}

article {
    width: 600px;
    display: block;
    margin: auto;
    padding: 15px;
}

main h2, h3 {
    padding: 10px;
}

article > img {
    width: 600px;
}

footer {
    text-align: center;
}

a{
    display: inline-block;
    background-color: gray;
    
    margin: 20px;
    border-radius: 50%;
    padding: 0px;
}