body {
    background-color: rgb(179, 199, 106);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}
header {
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.438);
}
section {
    background-color: antiquewhite;
    border-radius: 25px;
    padding: 20px;
    max-width: 600px;
    min-height: 550px;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
}
section > div {
    margin: 20px;
}
input#verif {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
    width: 150px;
    height: 30px;
    border-radius: 8px;
    border-color: white;
}
input#tano {
    width: 180px;
}
.idd {
    font-size: 1.1em;
}
h4 {
    font-weight: 500;
    margin: 10px;
    text-align: center;
    padding-bottom: 10px;
}
.centralizar {
    text-align: center;
}
img#foto {
    margin: 10px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.pe {
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-100px);
    text-decoration: overline;
    font-size: smaller;
    color: gray;
    margin-top: 15px;
}
.voltar{
    display: inline-block;
    background-color: gray;
    margin-top: 15px;
    border-radius: 50%;
    padding: 0px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}