.cla {
    text-align: center;
    padding: 32px;
}
.cla h3 {
    display: inline-block;
    font-size: 24px;
    border-bottom: 4px solid ;
    padding-bottom: 6px;
}
.kins {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 10px;
}