@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html {
    background-color: aquamarine;
    text-align: justify;
}

span#burguer {
    background-color: aqua;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
 span#burguer:hover {
    background-color: rgb(0, 207, 207);
    color: black;
 }

header {
    background-color: aqua;
    padding-bottom: 15px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.301);
}

header > h1 {
    padding: 10px;
    text-align: center;
    font-weight: 800;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24);
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    text-align: center;
    background-color: cornflowerblue;
    color: rgb(255, 255, 255);
    border-bottom: 4px solid aqua;
}

menu > ul > li > a:hover {
    background-color: rgb(73, 109, 175);
}

main {
    width: 85vw;
    max-width: 800px;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    border-radius: 15px;
}

a#voltar{
    display: inline-block;
    background-color: gray;
    position: relative;
    left: 50%;
    transform: translate(-100%);
    margin: 20px;
    border-radius: 50%;
    padding: 0px;
}