@charset "UTF-8";

* { /* Configurações globais das CSS */
    height: auto;
}
header {
    display: flex;
    flex-direction: column;
    height: 170px;
}
header > a {
    padding: 10px;
    width: fit-content;
    color: rgba(0, 0, 0, 0.753);
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    top: -120px;
    left: 30px;
    text-decoration: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.466);
}
a:hover {
    background-color: #4509eb;
    color: #ffffff;
}
#Git {
    width: fit-content;
    position: relative;
    top: -160px;
    align-self: flex-end;
    transform: translate(-55px);
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.466);
}
#Git:hover {
    transform: translate(-55px, -5px);
    transition: transform .3s;
    color: #000000;
}
header > p > a {
    text-decoration: none;
}
body {
    font-size: larger;
    background-color: whitesmoke;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    padding: auto;
}

.conteinner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 50px;
}
.titulo{
    font-size: 1.5em;
    font-weight: 600;
}
#CSS {
    padding-left: 50px;
}
#JS {
    width: 100px;
}

h1{color: #000000;text-align: center;font-size: 3em;text-decoration: underline;text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.671);}
h2{color: #000000;}

a:active{color: red;}
li:active{color: red;}

.especial_bronze::after{
    display: inline-block;
    content: '✮';
    padding: 0px 6px 4px 6px ;
    border-radius: 50% 50%;
    background-color: sandybrown;
}
.especial_prata::after{
    display: inline-block;
    content: '✮';
    padding: 0px 6px 4px 6px ;
    border-radius: 50% 50%;
    background-color: silver;
}
.especial_ouro::after{
    display: inline-block;
    content: '✮';
    padding: 0px 6px 4px 6px ;
    border-radius: 50% 50%;
    background-color: gold; 
}
.especial_rubi::after{
    display: inline-block;
    content: '✮';
    padding: 0px 6px 4px 6px ;
    border-radius: 50% 50%;
    background-color: slateblue;
}