* { /* Configurações globais das CSS */
    height: auto;
}
header {
    display: flex;
    flex-direction: column;
}
header > a {
    padding: 10px;
    width: fit-content;
    color: rgba(0, 0, 0, 0.753);
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    top: -120px;
    left: 30px;
    text-decoration: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.466);
}
header > a:hover {
    background-color: #4509eb;
    color: #ffffff;
}
header > p {
    width: fit-content;
    position: relative;
    top: -181px;
    align-self: flex-end;
    transform: translate(-25px);
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.466);
}
header > p:hover {
    transform: translate(-20px);
    transition: transform(2s);
    
}
header > p > a {
    text-decoration: none;
}
body {
    font-size: larger;
    background-color: whitesmoke;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    padding: auto;
}

section {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
h1{color: #000000;text-align: center;font-size: 3em;text-decoration: underline;text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.671);}
h2{color: #000000;}


a:active{color: red;}
li:active{color: red;}

.especial::after{
    display: inline-block;
    content: '✮';
    padding: 0px 6px 4px 6px ;
    background-color: #ff9100;
    border-radius: 50% 50%;
}